---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="404 | tufusa" description="Not found">
  <main class="flex w-full flex-1 flex-col items-center justify-center">
    <div class="font-poiret-one text-9xl lg:text-[10rem]">404</div>
    <div class="font-urbanist text-2xl text-main lg:text-3xl">Not found</div>
  </main>
</MainLayout>
