---
import IndexLayout from "../layouts/IndexLayout.astro";
---

<IndexLayout>
  <div
    class="bg-back flex min-h-screen
      flex-col items-center
      justify-center text-white"
  >
    <p class="font-poiret-one text-6xl">tufusa.net</p>
    <div class="font-urbanist text-main flex flex-row gap-6 p-6 text-2xl">
      <a href="/profile">profile</a>
      <a href="/1F6A7">gallery</a>
      <a href="/1F6A7">note</a>
    </div>
  </div>
</IndexLayout>
