---
import IndexLayout from '../layouts/IndexLayout.astro';
---

<IndexLayout>
  <div class="flex min-h-screen flex-col items-center justify-center">
    <p class="font-poiret-one text-6xl">tufusa.net</p>
    <div class="flex flex-row gap-6 p-6 font-urbanist text-2xl text-main">
      <a href="/profile">profile</a>
      <a href="/1F6A7">gallery</a>
      <a href="/1F6A7">note</a>
    </div>
  </div>
</IndexLayout>
