---
import MainLayout from '../layouts/MainLayout.astro';
import ProfileContent from '../components/ProfileContent.astro';
import ProfileListItem from '../components/ProfileListItem.astro';
import ProfileLink from '../components/ProfileLink.astro';
import { Icon } from 'astro-icon/components';
---

<MainLayout>
  <main class="mt-8 flex w-4/5 max-w-xl flex-1 flex-col gap-10">
    <div class="flex h-fit w-full flex-wrap items-center gap-8 divide-x-2 divide-main">
      <div
        class="flex size-32 items-center justify-center
          rounded-full border border-slate-600 bg-black"
      >
        <Icon name="threeEyes" class="size-1/2" />
      </div>
      <div class="mb-2 inline-flex flex-col pl-2">
        <p class="font-urbanist text-5xl lg:text-6xl">tufusa</p>
        <p class="font-serif text-lg text-gray-400 lg:text-xl">[t͡sɯ̹̽ɸɯ̹̽sä]</p>
      </div>
    </div>
    <ProfileContent title="">tufusaです。いろんなことをしています。</ProfileContent>
    <ProfileContent title="Like">
      <ProfileListItem title="数学" />
      <ProfileListItem title="開発" />
      <ProfileListItem title="競プロ" />
      <ProfileListItem title="謎解き" />
      <ProfileListItem title="ゲーム" />
    </ProfileContent>
    <ProfileContent title="Tech">
      <ProfileListItem title="[Lang] Ruby" />
      <ProfileListItem title="[Lang] TypeScript" />
      <ProfileListItem title="[Lang] C#" />
      <ProfileListItem title="[Library] React" content="アプリ開発×複数回" />
      <ProfileListItem title="[Framework] Remix" content="アプリ開発×数回" />
      <ProfileListItem title="[Framework] Astro" content="このサイトはAstroで書かれています。" />
      <ProfileListItem title="[Framework] Tailwind CSS" content="一番よく使います。" />
    </ProfileContent>
    <ProfileContent title="Belong">
      <ProfileListItem title="Poporon Network" />
    </ProfileContent>
    <ProfileContent title="Links">
      <div class="flex flex-col gap-2">
        <ProfileLink icon="mdi:twitter" text="@louptung" to="https://twitter.com/louptung" />
        <ProfileLink icon="mdi:github" text="@tufusa" to="https://github.com/tufusa" />
        <ProfileLink icon="mdi:email" text="me[at]tufusa.net" />
        <ProfileLink
          icon="mdi:horse-variant-fast"
          text="AtCoder/tufusa"
          to="https://atcoder.jp/users/tufusa"
        />
        <ProfileLink
          icon="mdi:sigma"
          text="OnlineMathContest/tufusa"
          to="https://onlinemathcontest.com/users/tufusa"
        />
        <ProfileLink icon="note" text="note.com/tufusa" to="https://note.com/tufusa" />
        <ProfileLink
          icon="mdi:cube-outline"
          text="minecraft-mcworld.com"
          to="https://minecraft-mcworld.com/author/1570d0760062def4941380cae4d33f787d24cfca"
        />
      </div>
    </ProfileContent>
    <!-- <ProfileContent title="History" /> -->
  </main>
</MainLayout>
