---
import { Icon } from 'astro-icon/components';

export interface Props {
  icon: Parameters<typeof Icon>[0]['name'];
  text: string;
  to?: string;
}

const { icon, text, to } = Astro.props;
---

<div>
  <Icon name={icon} class="inline" />
  {
    to ? (
      <a href={to} class="text-main underline hover:no-underline" target="_blank">
        {text}
      </a>
    ) : (
      <span class="text-main">{text}</span>
    )
  }
</div>
