---
import threeEyesWhite from '../assets/threeEyes.svg';
---

<img
  src={threeEyesWhite.src}
  class="m-auto h-40 animate-[spin_10s_linear_infinite] hover:animate-[spin_0.004s_linear_infinite]"
/>
<p class="mx-auto my-5 w-fit font-mono text-2xl">under construction</p>
