@font-face {
  font-family: 'Poiret One';
  src: url('/fonts/poiret-one-latin-400-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/urbanist-latin-300-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}